html, #root, body {
  margin: 0;
  height: 100%;
}

:root {
  --blue-100: #0559FD;
  --blue-80: #499FF4;
  --blue-60: #C3D8FF;
  --blue-20: #E7F3FF;
  --gray-80: #717171;
  --gray-60: #9E9E9E;
  --gray-20: #E1E1E1;
  --gray-5: #F5F5F5;
  --bluegray: #768298;
}

body {
  background-color: white;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.title {
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.fab {
  color: white !important;
}

.next-btn {
  position: fixed !important;
  right: 20px;
  bottom: 30px;
}

.back-btn {
  position: fixed !important;
  left: 20px;
  bottom: 30px;
}

.back-btn span {
  color: white;
}

.update-list div {
  font-size: 15px;
  line-height: 1.5rem;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.status-wrapper {
  justify-content: space-between;
  width: 90%;
  position: absolute;
  top: 10%;
  left: 5%
}

.terms-wrapper {
  overflow-y: scroll;
  padding: 2rem 0.5rem;
  max-height: 400px;
  font-size: 14px;
  line-height: 1.5rem;
}

.terms-wrapper a {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.terms-wrapper ul {
  padding-right: 2.3rem;
}

.warnings {
  text-align: left;
  width: 80%;
  padding-bottom: 48px;
}

.sliders-wrapper {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-nav {
  box-shadow: 0px 2px 10px 0px #7C7C7C40;
  height: 50px;
  background-color: white;
}

.btn--blue {
  color: white;
  background-color: var(--blue-100);
}

.btn--lightblue {
  color: var(--blue-100);
  background-color: var(--blue-60);
}

.btn {
  height: 40px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  border: none;
}

.btn svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.btn--lg {
  width: 172px;
}

.btn--md {
  width: 116px;
}

.btn--sm {
  width: 76px;
}

.btn--cancel {
  color: var(--gray-80);
  background-color: var(--gray-20);
}

.btn--discard {
  color: red;
  background-color: white;
  border: 1px solid red;
}

.btn--white {
  background-color: white;
  color: var(--blue-100);
}

.dropdown button {
  background-color: #EFEFEF;
  border: 0.5px solid var(--gray-60);
  box-sizing: border-box;
  border-radius: 10px;
  height: 20px;
  width: 110px;
  font-weight: 500;
  padding: 0;
  font-size: 10px;
  color: var(--gray-80);
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px 0 10px;
  line-height: 20px;
}

.dropdown-menu {
  width: 110px;
  height: 72px;
  border-radius: 10px;
  background-color: var(--gray-5);
  color: var(--gray-80);
  align-items: center;
}

.dropdown__selector {
  width: 100px;
  height: 16px;
  background: var(--gray-5);
  border-radius: 10px;
  color: var(--gray-80);
}

.dropdown svg {
  width: 12px;
  height: 12px;
  margin-bottom: 2px;
}

.dropdown__selector--active {
  color: var(--blue-100);
}

.tag {
  width: max-content;
  height: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--blue-100);
  background-color: var(--blue-60);
}

.tag__icon {
  width: 13.6px;
  height: 13.6px;
}

.heading {
  color: var(--bluegray)
}

.signup__container {
  width: 210px;
  height: 266px;
  background: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.signup__header {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: var(--blue-100);
}

.signup__textbox {
  background: #F9F9F9;
  width: 163px;
  Height: 27px;
  font-weight: 600;
  line-height: 10px;
  color: var(--gray-80);
  font-size: 14px;
}

.signup__textbox::placeholder {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: var(--gray-60);
}

.home .headline--black {
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}

.home .headline--blue {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #0559FD;
}

.headlines {
  margin-right: 2rem;
  width: 474px;
  height: 266px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 40px;
}

.headlines b {
  font-weight: 600;
}

.light-bg {
  background: url(/background-light.png);
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.max-window {
  min-height: calc(100vh - 50px);
}

.home .container {
  max-width: 1100px;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.home .header {
  align-items: center;
  justify-content: center;
  height: 400px;
  background-image: url(/greens.jpeg);
  background-position: center;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.home .header .col {
  align-items: center;
}

.navbar__brand {
  position: absolute;
  left: 2.15%;
  right: 92.78%;
  top: 17.31%;
  bottom: 13.46%;
  font-family: Abel;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.navbar__signin {
  position: absolute;
  left: 91.94%;
  right: 0%;
  top: 11.54%;
  bottom: 11.54%;
  font-weight: 600;
  font-size: 1rem;
  color: var(--blue-100) !important
}

.home .preview__subtitle {
  font-weight: 500;
  font-size: 26px;
  text-transform: uppercase;
  color: var(--blue-80);
  margin-bottom: 30px;
}

.preview .card {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0px #7C7C7C40;
  border: none;
  font-weight: 400;
  font-size: 20px;
  color: var(--gray-80);
  line-height: 36px;
  padding: 1rem;
}

.home .preview {
  padding-top: 5rem;
}

.micropub {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.micropub .card-img {
  width: 145px;
  height: 190px;
  left: 0px;
  top: 0px;
  border-radius: 10px;
}

.micropub .card-title {
  width: 310px;
  font-weight: bold;
  font-size: 18px;
}

.micropub .card-text {
  width: 310px;
  height: 140px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: var(--gray-80);
}

.avatar--sm {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.avatar--lg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.micropub .authors .card-link, .question .asker, .read .authors a {
  font-size: 12px;
  color: var(--gray-80);
  width: max-content;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.avatar--sm {
  margin-right: 5px;
}

.home .preview .mp-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.userpage .welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 32px;
  height: 60px;
}

.welcome .avatar--lg {
  margin-right: 10px;
}

.signin, .signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin .form-check-input {
  background: #EFEFEF;
  border: 0.5px solid var(--gray-60);
}

.signin .form-check-label {
  font-weight: 500;
  font-size: 10px;
  color: #717171;
  vertical-align: middle;
}

.signin .form-group {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signin .form-check {
  width: 94px;
}

.listitem__micropub {
  background-color: white;
  color: #717171;
}

.listitem__question {
  background-color: var(--blue-80);
  color: white;
}

.listitem__answer {
  background-color: var(--blue-20);
  color: #717171;
}

.listitem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  width: 500px;
  height: 80px;
  margin: 10px 0;
}

.listitem svg {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.block .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-content: center;
  width: 500px;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 1rem;
}

.block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 600px;
  background: #F5F5F5;
  border-radius: 10px;
  padding: 30px;
}

.block .list-group--small {
  height: 200px;
  overflow-y: scroll;
}

.block .list-group--large {
  height: 665px;
  overflow-y: scroll;
}

.userpage .col {
  justify-content: space-evenly;
}

.question .body {
  display: flex;
  padding: 30px;
  width: 500px;
  height: 162.35px;
  background: #499FF4;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}

.question .control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  color: #FFFFFF;
}

.question .arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--blue-80);
  margin-left: 20px
}

.question {
  margin: 10px 0;
}

.read {
  display: flex;
  justify-content: center;
}

.read .sidebar {
  width: 172px;
  margin-top: 3rem;
}

.read .sidebar button {
  margin-top: 1rem;
}

.read .sidebar .info {
  width: 172px;
  border-radius: 10px;
  background-color: var(--gray-5);
  padding: 20px 12px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.read .sidebar .info>div {
  margin: 10px
}

.read .sidebar .time {
  font-weight: 500;
  font-size: 1rem;
  color: #717171;
}

.read .sidebar__icon {
  margin-left: 2px;
}

.body {
  width: 600px;
  padding: 3rem 2rem;
}

.body .heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #768298;
}

.body img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.read .sidebar .stars {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.read .sidebar .stars svg {
  margin-bottom: 2px;
  margin-right: 3px;
}

#publish {
  background-color: var(--gray-5);
}

#publish>div {
  margin: 0;
  height: calc(100vh - 50px);
}

#publish .tab__nav {
  max-width: 330px;
  border-right: 1px solid var(--gray-60);
  padding: 20px 0;
}

#publish .sidebar {
  max-width: 330px;
  border-left: 1px solid var(--gray-60);
  padding: 25px 15px;
}

#publish .sidebar>div {
  background-color: white;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 10px;
}

#publish .tab__nav a {
  border: none;
  width: 275px;
  height: 50px;
  background-color: var(--gray-5);
  border-radius: 0px 10px 10px 0px;
  line-height: 36px;
  color: var(--gray-80)
}

#publish .tab__nav a.active {
  background-color: var(--blue-100);
  color: white;
}

#publish .tab__nav .heading {
  text-align: center;
  padding: 2rem 0;
  font-size: 26px;
}

#publish .btn.active {
  background-color: inherit;
}

#publish .sidebar .label {
  font-weight: 600;
  font-size: 13px;
  line-height: 23px;
}

.search {
  font-size: 13px;
  color: #717171;
  display: flex;
}

.search input {
  border: none;
  border-bottom: 1px solid var(--gray-80);
  margin-left: 10px;
  font-size: 10px;
  vertical-align: text-bottom;
}

#publish .sidebar .controls {
  display: flex;
  justify-content: space-evenly;
}

#publish .preview .label {
  font-size: 18px;
  margin: 0 auto 2rem auto;
  font-weight: 600;
  color: #323232;
  text-align: center;
}

#publish .preview .card {
  margin-bottom: 2rem;
}

#publish .preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#publish .body {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0px #7c7c7c40;
}

.modal-dialog {
  max-width: 800px;
}

.addquestion {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

.addquestion .form-control {
  color: var(--gray-80);
  background: var(--gray-5);
  border: 0.5px solid var(--gray-60);
  box-sizing: border-box;
  border-radius: 10px;
}

.addquestion .subject {
  font-weight: 500;
  font-size: 18px;
}

.addquestion .description {
  font-size: 14px;
  font-weight: 400;
}

.addquestion .dropdown button {
  margin-left: 10px;
}

.addquestion .heading {
  font-weight: 500;
  font-size: 32px;
}

.addquestion .inputs {
  padding: 40px 80px 10px 80px;
  flex: 1;
}

.addquestion .inputs>div, .addquestion .inputs>textarea, .addquestion .inputs>input {
  margin-bottom: 30px;
}

.addquestion .controls {
  height: 80px;
  padding-right: 80px;
  background: var(--gray-5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.addquestion .btn--cancel {
  margin-right: 30px;
}

.dropzone>div {
  width: 480px;
  height: 300px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: #0559FD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dropzone .upload {
  background: #0559FD;
  border-radius: 10px;
  width: 180px;
  height: 20px;
  font-weight: 500;
  font-size: 11px;
  color: white;
  padding: 2px 5px;
}

.dropzone svg {
  width: 50px;
  height: 50px;
  color: #0559FD;
  margin-bottom: 10px;
}

.dropzone .label {
  font-size: 24px;
  color: var(--blue-100)
}

.dropzone input {
  display: none;
}

.dropzone .req {
  font-weight: normal;
  font-size: 14px;
  line-height: 8px;
}

.quill {
  padding: 0;
  width: 600px;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 0;
}

.quill .ql-toolbar {
  border: none !important;
  background: var(--gray-20);
  border-radius: 10px 10px 0 0;
}

.quill .ql-container {
  border: none !important;
  border-radius: 0 0 10px 10px !important;
  height: calc(100vh - 92px - 4rem);
}

.abstract .quill .ql-container {
  height: calc(100vh - 92px - 120px - 6rem);
}

#publish .tab__content {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: auto;
  height: 100%;
}

#publish .abstract input {
  width: 600px;
  height: 120px;
  background-color: white;
  border-radius: 10px;
  border: none;
  padding: 25px;
  font-weight: 600;
  font-size: 24px;
  color: var(--gray-80);
  margin-bottom: 2rem;
}

#publish .abstract input::placeholder {
  font-weight: 600;
  font-size: 24px;
  color: #9E9E9E;
}